	@import url("https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css");

	.main_image {
		position: relative;
	}

	.main_image_text {
		position: absolute;
		top: 20%;
		left: 20%;
		font-size: 26px;
		color: #749c46;
		letter-spacing: -1.5px;
		line-height: 1.2;
	}

	.main_image_text span {
		color: #111;
		font-weight: bold;
		font-size: 43px;
		letter-spacing: -5px;
		display:block;
		padding-top: 15px;
	}



	.tasting_gift_intro_text {
		width: 1200px;
	}

	.inner {
		width: 1200px;
		margin: 0 auto;
	}

	.box {
		position: absolute;
		margin: 1.5em 2 1.5em 15px;
		padding: 0 5px;
		top: 245px;
		left: 360px;

	}

	.pull_how, .pull_heal, .pull_dif {
		position: relative;
		background: #fff;
		border-radius: .4em;
		padding: 12px 21px;
		border-radius: 23px;
		font-size: 14px;
		letter-spacing: -1.5px;
	}

	.pull_how::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 0;
		height: 0;
		border: 17px solid transparent;
		border-top-color: #fff;
		border-bottom: 0;
		border-left: 0;
		margin-left: -8.5px;
		margin-bottom: -17px;
	}

	.pull_dif::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 0;
		height: 0;
		border: 17px solid transparent;
		border-top-color: #fff;
		border-bottom: 0;
		border-left: 0;
		margin-left: -8.5px;
		margin-bottom: -17px;
	}

	.pull_heal::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 0;
		height: 0;
		border: 17px solid transparent;
		border-top-color: #fff;
		border-bottom: 0;
		border-left: 0;
		margin-left: -8.5px;
		margin-bottom: -17px;
	}

	.sc_location {
		padding-top: 20px;
		text-align: right;
	}

	.sc_location a {
		font-weight: bold;
	}



	.del_main {
		padding-top: 50px;
		text-align: center;
		margin-bottom: 27px;

	}

	.del_main p {
	letter-spacing:-1.2px;
	font-size: 19px;
	}

	.del_main span {
		text-align: center;
		color: #86c852;
	}

	.del_main p:first-child{ 
		color:#86c852;

	}

	.del_main p:last-child {
		margin-top: 27px;
	}

	.del_main h3 {
		font-size: 20px;
		margin-top: 20px;
		letter-spacing:-1.5px;
	}

	.present {

		width: 1200px;
		display: flex;
		justify-content: space-around;
		align-content: center;
		justify-content: center;

	}

	.present h1 {
		color: #86c852;
		margin-bottom: 0.5rem;
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 1.2rem;
}

	.present p{
		color: #000;
		height: 65px;
		text-align: center;
		font-size: 16px;
		font-weight: 300;
		letter-spacing:-1.5px;
	}

	.present i {
		font-size: 59px;
		font-display: center;
		font-weight: 300 !important;
		height: 77px;
		color: #444;
	}

	.sec-present {
		text-align: center;
		display: flex;

	}

	.present_click {

		height: 300px;
		width: 220px;
		color: white;
		border: 1px solid #86c852;
		margin: 20px;
		padding: 20px;
		border-radius: 12px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: column;

	}


	.order_line {
		padding: 75px 0;
		display: flex;
		justify-content: center;
		align-items: center;
		border-bottom:1px solid #ccc;

	}

	.order_line figure {
		width: 150px;
		height: 150px;
		border:1px solid #86c852;
		border-radius:100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin-bottom: 1.2rem;

	}

	.order_line i {
		margin: 0 2rem;
		}

	.circle p {
		text-align: center;
		font-size: 18px;
		}

	.order_line img {
		width: 40%;
	
	}
	
	.coupon img {
		width: 620px;
		display: flex;
		margin: 30px;
		margin-left: 300px;
}

	.coupon p {
		text-align: center;
		}

	.goods_text p {
		text-align: center;
		padding: 1rem 0 2rem 0;
		border-bottom:1px solid #ccc;
	}

	.note {
	    margin: 42px;
		}


	.note_text ul {
		font-size: small;
		
	}

	.note_text ul li::before{
		content:"●";
		display:block;
		margin-right: 6px;
		
	}

	.note_text ul li{
		display:flex;
	}